/*font-family: 'Lato', sans-serif;*/

*{
	box-sizing: border-box;
}
body{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	background: #f3f3f3;
}
img{
	width: 100%;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6
{
	margin: 0;
	padding: 0;
}

/*header-area css */
.header-area{
	background: #222222;
}
.top-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-nav{
	padding: 18px 0;
	text-align: right;
}
.top-nav ul li {
    display: inline-block;
    border-right: 1px solid #fff;
}
.top-nav ul li:last-child{
	 border-right: none ;
}
.top-nav ul li a {
    color: #fff;
    display: block;
    padding: 0 20px;
    text-decoration: none;
}
.main-nav .nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
.cart-icon i {
    color: #fff;
    font-size: 20px;
}
.logo {
    width: 195px;
}
.cart-icon {
    width: 50px;
    height: 50px;
    background: #f10e34;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    float: left;
}
.price-area{
	color: #fff;
	text-align: center;
}
.price{
	font-weight: 700;
}
.btn-search {
    padding: 6px 18px;
    background: #f10e34;
}
/* main nav*/
.main-menu-area{
	background: #f10e34;
}
/* catgegory nav*/
.category-nav {
    padding: 24px;
}
.category-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.category-nav ul  li{
	position: relative;
	
	 padding: 12px 20px;
    border-bottom: 1px solid #ccc;
}
.category-nav ul  li::before{
	content: "\eca7";
	position: absolute;
	left: 0;
	color:#a6a6a6;
	font-family: 'icofont'
}
.category-nav ul li a{
	display: block;
	text-decoration: none;

}

/* slider css */
.slider-content {
    padding: 90px 26px;
    max-width: 470px;
    text-align: center;
    text-transform: uppercase;
}
.slider-content h3{
	font-size: 38px;
	color: #303a7a;
}
.slider-content h1{
	font-size: 60px;
	color: #fff;
}
.slider-content h5{
	font-size: 22px;
	color: #fff;
}
.slier-bottom {
    background: #f10e34;
    color: #fff;
    text-align: center;
}
.slider-bottom-content{
	padding: 26px 0;
}
.slider-bottom-content h4,h5{
	font-size: 16px
}
.slider-bottom-content h4{
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#product-area-one {
    padding: 35px 0;
}

.hot-deal,.new-product{
    padding: 24px;
    position: relative;
}

.hot-deal-product-wrapper {
    padding-top: 24px;
    padding-bottom: 26px;
}
.title h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.product-header{
	border-bottom: 1px solid #eaeaea;
	padding: 12px 0;
}
.product-wrapper {
    padding-top: 24px;
}

/* owl carousel nav coustomization */

.owl-carousel .owl-nav {
  position: absolute;
  top: -75px;
  right:0px;
}
.owl-nav .owl-prev,.owl-next {
    background: #cacaca !important;
    height: 24px;
    width: 24px;
    line-height: 24px;
    border-radius: 50%;
    color: #fff !important;
    margin: 2px;
}


.owl-nav button i {
    font-size: 18px;
    font-weight: 700;
}
.owl-nav .owl-prev,.owl-next:hover{
	background: red !important;
}


.first-banner-area {
    margin-bottom: 30px;
}
.left-wizard.shadow.bg-white {
    padding: 12px 24px;
    margin-top: 30px;
}
.news-letter .title {
    border-bottom: 1px solid #ddd;
    margin: 18px 0;
}
button.btn.btn-subscribe {
    background: #f22f49;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 22px;
    border-radius: 25px;
}
.left-banner {
    margin-top: 30px;
}
.body-banner-one {
    margin: 30px 0;
}
.f-product {
    margin-bottom: 30px;
}
.brand-logo-area {
    margin: 40px 0;
    background: #f10e34;
}
.brand.owl-carousel.owl-loaded.owl-drag {
    padding-top: 16px;
}